<div class="container">
  User avatar: <%= image_tag(@user.avatar , width: "25%") if !@user.avatar.blank? %>
  <p class="text-start">
    <span>Name:</span>
    <span> <%= @user.name %> </span>
  </p>
  <p class="text-start">
    <span>Address:</span>
    <span> <%= @user.main_address %> </span>
  </p>
  <p class="text-start">
    <span>Phone Number:</span>
    <span> <%= @user.phone_number %> </span>
  </p>
  <%= link_to "Show books", books_path(@user) %>
</div>
<style>
  .text-start {
    font-size: 20px;
    color: blue;
  }
  span {
    display: table-cell;
    padding: 5px;
    width: 10rem;
  }
</style>
