<div id="<%= dom_id bill %>">
  <p>
    <strong>Staff:</strong>
    <%= bill.staff_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bill.user_id %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= bill.discount %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= bill.total_price %>
  </p>

  <p>
    <strong>Actual price:</strong>
    <%= bill.actual_price %>
  </p>

</div>
