<div class="container">
  <%= image_tag(@book.cover_image , width: "20%", alt: "Book Logo")%>

  <%= bootstrap_form_for(@book, :url => book_path(@book)) do |form| %>
    <div class="input-group mb-3">
      <%= form.text_field :name %>
    </div>
    <div class="input-group mb-3">
      <%= form.text_field :author %>
    </div>
    <div class="input-group mb-3">
      <%= form.text_field :barcode %>
    </div>

    <div class="input-group mb-3">
      <%= form.text_field :description %>
    </div>

    <div class="input-group mb-3">
      <%= form.label :belonger %>: 
      <p> <%= (@book.belonger.is_a? User)? @book.belonger.name : @book.belonger.place %> </p>
      <P> Change it here </p>
      <%= select_tag :shelf_id,
                options_from_collection_for_select(@shelves, :id, :place),
                class: "form-control custom-select" %>
    </div>
    
    <div class="input-group mb-3">
      <%= form.file_field :cover_image, { class: "form-control", placeholder: "Image for Book cover" } %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>
