<div class="container">
  <%= button_to "New book", new_book_path, method: :get,  class: 'btn btn-primary mt-4' if (current_user.is_a? Staff) %>
  <%= search_form_for @q, :url => @link_for_search ,:html => {:class => 'form-inline my-2 my-lg-0 d-flex'} do |f| %>

    <%= f.label :name_cont %>
    <%= f.search_field :name_cont, :class => "form-control mr-sm-2" %>
    <%= f.submit 'Search', :class => "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
  <table class="table">
    <tr class="column">
      <th>Cover</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <% @books.each do |book| %>
      <tr class="column">
        <td width="200px"><%= image_tag(book.cover_image , width: "70%", alt: "Book Logo")%></td>
        <td> 
          <p> <%= link_to book.name, book_path(book) %> </p>
          <p> <% if book.belonger_type == "User" %> 
            (Borrowed)
            <% else %>
            (Borrowable)
            <% end %>
          </p> 
        </td>
        <% if current_user.is_a? Staff %>
          <td> <%= link_to "Edit book", edit_book_path(book) %> </td>
          <td> <%= link_to 'Delete', book_path(book),
            data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> </td>
        <% end %>
        <td> 
          <% if book.belonger_type == "Shelf" && (current_user.is_a? User)%>
            <%= button_to "Borrow", borrow_book_path(book), method: :put, class: 'btn btn-primary' %>
          <% else %>
            <% if ((current_user.is_a? Staff) && current_user.able_to_return? && book.is_borrowed?) || (book.belonger == current_user) %>
              <%= link_to "Return to shelf", returning_book_book_path(book), data: { turbo_frame: 'modal', controller: 'turbo' }, class: 'btn btn-primary' %>
            <% end %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<% if !@errors.blank? %>
  <%= @errors %>
<% end %>
