<div class="container">
  <%= form_with(model: @book, :url => books_url) do |f| %>
  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= f.label :name, { class: "form-label"} %>
        <%= f.text_field :name, { class: "form-control", placeholder: "Book Name" } %>
      </div>

      <div class="mb-3">
        <%= f.label :author, { class: "form-label"} %>
        <%= f.text_field :author, { class: "form-control", placeholder: "Book Name" } %>
      </div>

      <div class="mb-3">
        <%= f.label :barcode, { class: "form-label"} %>
        <%= f.text_field :barcode, { class: "form-control", placeholder: "Barcode" } %>
      </div>

      <div class="mb-3">
        <%= f.label :cover_image, { class: "form-label"} %>
        <%= f.file_field :cover_image, { class: "form-control", placeholder: "Image for Book cover" } %>
      </div>

      <div class="mb-3">
        <%= f.label :shelf, { class: "form-label"} %>
        <%= select_tag :shelf_id,
                options_from_collection_for_select(@shelves, :id, :place),
                class: "form-control custom-select" %>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>

    </div>
  </div>
  <% end %>
</div>
