<div class="container">
  Book cover image: <%= image_tag(@book.cover_image , width: "20%") if !@book.cover_image.blank? %>

  <p class="text-start">
    <span>Name:</span>
    <span> <%= @book.name %> </span>
  </p>
  <p class="text-start">
    <span>Author:</span>
    <span> <%= @book.author %> </span>
  </p>
  <p class="text-start">
    <span>Barcode:</span>
    <span> <%= @book.barcode %> </span>
  </p>
  <p class="text-start">
    <span>Description:</span>
    <span> <%= @book.description %> </span>
  </p>
  <p class="text-start">
    <span>Holder/Shelf: </span>
    <span> <%= (@book.belonger.is_a? User) ? @book.belonger.name : @book.belonger.place %> </span>
  </p>
</div>

<style>
  .text-start {
    font-size: 20px;
    color: blue;
  }
  span {
    display: table-cell;
    padding: 5px;
    width: 10rem;
  }
</style>
