<!DOCTYPE html>
<html>
  <head>
    <title>PersonalProjects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= link_to "Go to Book List", root_path %>
    <% if current_user%>
      <%= current_user.name %>
      <%= button_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", login_path %>
    <% end %>
    <%= turbo_frame_tag "modal" %>
    <%= yield %>
  </body>
</html>
