<!DOCTYPE html>
<html>
  <head>
    <title>PersonalProjects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <meta charset='utf-8' />
  </head>
  <body>
    <%= render partial: "layouts/header", locals: { user: current_user} %>
    <div class="containter container-sm">
      <%= yield %>
      <%= turbo_frame_tag "remote_modal" %>
    </div>
  </body>
</html>
